<!--12. fieldset allows grouping of related fields-->
<!--16. as_p render forms in paragraph tag, but using crispy templates will take care of necessary stylings-->
<!--11. CSRF token for security and a must add in the form tag -->

{% extends "blog/base2.html" %}
{% load crispy_forms_tags %}

{%block content%}
	<title>Nondane Madikolli</title>
	<div class = "content-section">
		
		<form method = "POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Join Today
				</legend>
					{{ form|crispy }}
				<!-- {{ form.as_p }} -->
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form>

		<div class="border-top pt-4">
			<small class="text-muted">Already a member?<a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
		</div>


	</div>

{% endblock content %}
